@import '_colors';

.content {
  padding: 1.234rem 0;
  width: 100%;
  height: 100%;
  .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.796);
    z-index: 2;
    cursor: pointer;
    color: white;
  }
  .separator {
    margin: 0.875rem 0;
  }
  .section-title {
    padding: 0 1.75rem;
  }
  #featured {
    .section-title {
      display: none;
    }
    .separator {
      display: none;
    }
  }
  #recent {
    margin-top: 2.5rem;
  }

  .featured-item {
    margin: 0 0.313rem;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08));
    .overlay {
      flex-direction: column;
      justify-content: flex-end;
      .details {
        z-index: 100;
        margin-bottom: 1rem;
        p {
          margin: 0;
        }
        .book-name {
          margin-bottom: 0.4rem;
        }
        .book-author,
        .labels {
          margin-bottom: 1.25rem;
        }
        img {
          filter: opacity(0.9) drop-shadow(0 0 0 $gray);
          -webkit-filter: opacity(0.9) drop-shadow(0 0 0 $gray);
          z-index: 100;
        }
      }
    }

    .dots {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      border-radius: 50%;
      height: 30px;
      width: 35px;
      align-items: center;
      padding-bottom: 5px;
      span {
        height: 5px;
        color: gray;
      }
    }
    &[data-overlay='true'] {
      .overlay {
        display: flex;
      }
    }
  }
  .books {
    display: flex;
    padding-left: 1.875rem;
    flex-wrap: wrap;
    .book-details {
      display: flex;
      height: 100%;
      :first-child {
        display: flex;
        .book-cover {
          width: auto;
        }
      }
    }
    .book-card {
      display: flex;
      flex-direction: column;
      height: 10rem;
      margin: 0 1rem 1.25rem 0;
      width: 100%;
      position: relative;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    .book-status {
      color: #d0011b;
      margin-bottom: 0.75rem;
      &[data-availability='true'] {
        color: #65c100;
      }
    }

    .book-genre,
    .book-author {
      line-height: 15px;
    }
    .user-summary {
      display: flex;
      align-items: center;
      margin-top: 0.3rem;
      .rating {
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
        }
        .star {
          margin: 0;
          display: flex;
          :last-child {
            color: $gray;
          }
          span {
            color: $yellow;
          }
        }
      }
      .separator {
        width: 1px;
        height: 20px;
        margin: 0 0.5rem;
        background-color: #eee;
        flex-shrink: 0;
      }
      .user-reactions {
        display: flex;
        gap: 0.625rem;
        .users {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .content {
    padding: 1.688rem 0;
    width: calc(100% - 350px);
    .section-title {
      padding: 0 2.25rem;
    }
    #featured {
      .section-title {
        display: block;
        margin: 0.5rem 0 1.438rem;
      }
      .separator {
        display: block;
        margin-bottom: 1.438rem;
      }
    }
    .featured-item {
      margin: 0 1.25rem;
      .dots {
        display: none;
      }
      &:hover {
        .overlay {
          display: flex;
        }
      }
    }
    .books {
      padding: 0 0 2.5rem 2.25rem;
      .book-card {
        width: 30%;
        &:hover {
          .overlay {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .details {
              z-index: 100;
              margin-bottom: 1rem;
              img {
                filter: grayscale(160%);
                -webkit-filter: opacity(0.9) drop-shadow(0 0 0 $gray);
                z-index: 100;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .books {
    .book-card {
      width: 45% !important;
    }
  }
}
