.font-bold {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font-semibold {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.font-medium {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font-normal {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font-tiny {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
}

.text-sm {
  font-size: 0.875rem; /* 12px */
}

.text-normal {
  font-size: 1rem; /* 16px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
}
