@import '_colors';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #fff;
  border-width: 1px;
  padding: 0.52rem 1.875rem;
  gap: 2rem;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08));
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08));
  z-index: 60;
  top: 0;
  .suggestion {
    display: none;
    background-color: white;
    height: fit-content;
    padding: 1rem 1.3rem;
    width: 78%;
    position: absolute;
    top: 4rem;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
    &[data-show='true'] {
      display: flex;
      flex-direction: column;
      p {
        margin: 0.4rem 0;
        color: $border;
        font-family: Ubuntu;
        font-size: 0.875rem;
        cursor: pointer;
      }
    }
  }

  .search {
    display: none;
    width: 0;
    .input-area {
      display: flex;
      position: relative;
      width: 100%;
      height: 2.5rem;
      border-color: transparent;
      input {
        border: 1px solid $gray;
        width: 100%;
        padding: 0 1.313rem;
        border-radius: 3px;
        border-width: 1px;
        color: $border;
        &:focus {
          outline: $border;
        }
      }
    }
    .close {
      display: none;
    }

    span {
      position: absolute;
      display: flex;
      align-items: center;
      right: 0;
      top: 0;
      bottom: 0;
      padding-left: 1rem;
      border-color: transparent;
    }

    button {
      cursor: pointer;
      text-transform: none;
      padding: 0 1rem;
      height: 2.5rem;
      border: 1px solid $gray;
    }
    &[data-active='true'] {
      display: flex;
      width: 100%;
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      height: 5rem;
      background-color: #fff;
      align-items: center;
      padding: 0 1rem;

      .close {
        width: 4rem;
        height: auto;
        background-color: transparent;
        border: transparent;
        display: flex;
        justify-content: center;
      }
      .input-area {
        margin-right: 4rem;
        input {
          width: 90%;
        }
      }
    }
  }

  .product-detail {
    display: flex;
    align-items: center;
    gap: 0.938rem;

    width: 50%;
    .logo {
      max-width: 40px;
      width: 100%;
      height: auto;
    }
    #hamburger {
      display: block;
    }
    .product-name {
      display: none;
      flex-direction: column;
      .role {
        color: #aaaaaa;
        margin-top: 0.188rem;
      }
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.625rem;
    width: 50%;
    .icon {
      height: 25px;
      width: 25px;
    }
    .search {
      display: block;
      margin-top: 7px;
    }
  }
}
@media (max-screen: 768px) {
  .suggestion {
    left: 4.4rem;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0.52rem 2.25rem;
    .suggestion {
      width: 300px;
    }
    .search {
      display: block !important;
      width: 50% !important;
    }
    .product-detail {
      width: 25%;
      #hamburger {
        display: none;
      }
      .product-name {
        display: flex;
      }
    }
    .nav {
      width: 25%;
      gap: 1.25rem;
      .search {
        display: none !important;
      }
    }
  }
}
