@import 'fonts', '_colors', 'header', 'sidebar', 'content';

body {
  background-color: $bg-color;
  padding: 0;
  font-size: 16px;
  width: 100%;
  margin: 0;
  // overflow-y: auto;
}
.separator {
  height: 1px;
  background-color: #eee;
  flex-shrink: 0;
}
.container {
  display: flex;
  background-color: #fff;
  // overflow-y: auto;
}
@media (max-width) {
  .container {
    display: grid;
    flex-direction: column;
  }
}
