.font-bold {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

.font-semibold {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 600;
  line-height: normal; }

.font-medium {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: normal; }

.font-normal {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.font-tiny {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: normal; }

.text-xs {
  font-size: 0.75rem;
  /* 12px */ }

.text-sm {
  font-size: 0.875rem;
  /* 12px */ }

.text-normal {
  font-size: 1rem;
  /* 16px */ }

.text-lg {
  font-size: 1.125rem;
  /* 18px */ }

:root {
  --green-color: #65c100; }

:root {
  --green-color: #65c100; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #fff;
  border-width: 1px;
  padding: 0.52rem 1.875rem;
  gap: 2rem;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08));
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08));
  z-index: 60;
  top: 0; }
  .header .suggestion {
    display: none;
    background-color: white;
    height: fit-content;
    padding: 1rem 1.3rem;
    width: 78%;
    position: absolute;
    top: 4rem;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05)); }
    .header .suggestion[data-show='true'] {
      display: flex;
      flex-direction: column; }
      .header .suggestion[data-show='true'] p {
        margin: 0.4rem 0;
        color: #999999;
        font-family: Ubuntu;
        font-size: 0.875rem;
        cursor: pointer; }
  .header .search {
    display: none;
    width: 0; }
    .header .search .input-area {
      display: flex;
      position: relative;
      width: 100%;
      height: 2.5rem;
      border-color: transparent; }
      .header .search .input-area input {
        border: 1px solid #dddddd;
        width: 100%;
        padding: 0 1.313rem;
        border-radius: 3px;
        border-width: 1px;
        color: #999999; }
        .header .search .input-area input:focus {
          outline: #999999; }
    .header .search .close {
      display: none; }
    .header .search span {
      position: absolute;
      display: flex;
      align-items: center;
      right: 0;
      top: 0;
      bottom: 0;
      padding-left: 1rem;
      border-color: transparent; }
    .header .search button {
      cursor: pointer;
      text-transform: none;
      padding: 0 1rem;
      height: 2.5rem;
      border: 1px solid #dddddd; }
    .header .search[data-active='true'] {
      display: flex;
      width: 100%;
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      height: 5rem;
      background-color: #fff;
      align-items: center;
      padding: 0 1rem; }
      .header .search[data-active='true'] .close {
        width: 4rem;
        height: auto;
        background-color: transparent;
        border: transparent;
        display: flex;
        justify-content: center; }
      .header .search[data-active='true'] .input-area {
        margin-right: 4rem; }
        .header .search[data-active='true'] .input-area input {
          width: 90%; }
  .header .product-detail {
    display: flex;
    align-items: center;
    gap: 0.938rem;
    width: 50%; }
    .header .product-detail .logo {
      max-width: 40px;
      width: 100%;
      height: auto; }
    .header .product-detail #hamburger {
      display: block; }
    .header .product-detail .product-name {
      display: none;
      flex-direction: column; }
      .header .product-detail .product-name .role {
        color: #aaaaaa;
        margin-top: 0.188rem; }
  .header .nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.625rem;
    width: 50%; }
    .header .nav .icon {
      height: 25px;
      width: 25px; }
    .header .nav .search {
      display: block;
      margin-top: 7px; }

@media (max-screen: 768px) {
  .suggestion {
    left: 4.4rem; } }

@media (min-width: 768px) {
  .header {
    padding: 0.52rem 2.25rem; }
    .header .suggestion {
      width: 300px; }
    .header .search {
      display: block !important;
      width: 50% !important; }
    .header .product-detail {
      width: 25%; }
      .header .product-detail #hamburger {
        display: none; }
      .header .product-detail .product-name {
        display: flex; }
    .header .nav {
      width: 25%;
      gap: 1.25rem; }
      .header .nav .search {
        display: none !important; } }

:root {
  --green-color: #65c100; }

aside {
  background-color: #fff;
  z-index: 0;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 1px 50px 40px);
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.1) 1px 50px 40px);
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }
  aside .sidebar-section {
    padding: 0.52rem 1.875rem; }
  aside .siderbar-header {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.875rem 1rem;
    top: 0; }
    aside .siderbar-header .back {
      width: 0;
      background-color: transparent;
      border: transparent; }
    aside .siderbar-header .product-detail {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 2rem; }
      aside .siderbar-header .product-detail .logo {
        max-width: 40px;
        width: 100%;
        height: auto; }
      aside .siderbar-header .product-detail .product-name {
        display: flex;
        flex-direction: column; }
        aside .siderbar-header .product-detail .product-name .role {
          color: #aaaaaa;
          margin-top: 0.188rem; }
  aside .sidebar-main {
    overflow-y: auto; }
  aside[data-show='true'] {
    width: 300px;
    z-index: 70;
    opacity: 1; }
  aside .sidebar-menu-item {
    display: flex;
    margin: 0.813rem 0;
    justify-content: space-between;
    align-items: center; }
    aside .sidebar-menu-item .menu-name[data-active='true'] {
      color: #65c100; }
    aside .sidebar-menu-item .menu-count {
      color: #aaaaaa; }
      aside .sidebar-menu-item .menu-count[data-active='true'] {
        color: #fff;
        background-color: #65c100;
        border-radius: 50%;
        padding: 0 5px;
        text-align: center;
        margin-top: 3px; }

@media (min-width: 768px) {
  aside {
    overflow-y: auto;
    width: 350px;
    position: relative;
    height: auto;
    opacity: 1; }
    aside .sidebar-section {
      padding: 0.52rem 2.25rem; }
    aside .siderbar-header {
      display: none; } }

:root {
  --green-color: #65c100; }

.content {
  padding: 1.234rem 0;
  width: 100%;
  height: 100%; }
  .content .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.796);
    z-index: 2;
    cursor: pointer;
    color: white; }
  .content .separator {
    margin: 0.875rem 0; }
  .content .section-title {
    padding: 0 1.75rem; }
  .content #featured .section-title {
    display: none; }
  .content #featured .separator {
    display: none; }
  .content #recent {
    margin-top: 2.5rem; }
  .content .featured-item {
    margin: 0 0.313rem;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08)); }
    .content .featured-item .overlay {
      flex-direction: column;
      justify-content: flex-end; }
      .content .featured-item .overlay .details {
        z-index: 100;
        margin-bottom: 1rem; }
        .content .featured-item .overlay .details p {
          margin: 0; }
        .content .featured-item .overlay .details .book-name {
          margin-bottom: 0.4rem; }
        .content .featured-item .overlay .details .book-author,
        .content .featured-item .overlay .details .labels {
          margin-bottom: 1.25rem; }
        .content .featured-item .overlay .details img {
          filter: opacity(0.9) drop-shadow(0 0 0 #dddddd);
          -webkit-filter: opacity(0.9) drop-shadow(0 0 0 #dddddd);
          z-index: 100; }
    .content .featured-item .dots {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      border-radius: 50%;
      height: 30px;
      width: 35px;
      align-items: center;
      padding-bottom: 5px; }
      .content .featured-item .dots span {
        height: 5px;
        color: gray; }
    .content .featured-item[data-overlay='true'] .overlay {
      display: flex; }
  .content .books {
    display: flex;
    padding-left: 1.875rem;
    flex-wrap: wrap; }
    .content .books .book-details {
      display: flex;
      height: 100%; }
      .content .books .book-details :first-child {
        display: flex; }
        .content .books .book-details :first-child .book-cover {
          width: auto; }
    .content .books .book-card {
      display: flex;
      flex-direction: column;
      height: 10rem;
      margin: 0 1rem 1.25rem 0;
      width: 100%;
      position: relative; }
  .content .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem; }
    .content .details .book-status {
      color: #d0011b;
      margin-bottom: 0.75rem; }
      .content .details .book-status[data-availability='true'] {
        color: #65c100; }
    .content .details .book-genre,
    .content .details .book-author {
      line-height: 15px; }
    .content .details .user-summary {
      display: flex;
      align-items: center;
      margin-top: 0.3rem; }
      .content .details .user-summary .rating {
        display: flex;
        flex-direction: column; }
        .content .details .user-summary .rating p {
          margin: 0; }
        .content .details .user-summary .rating .star {
          margin: 0;
          display: flex; }
          .content .details .user-summary .rating .star :last-child {
            color: #dddddd; }
          .content .details .user-summary .rating .star span {
            color: #eba430; }
      .content .details .user-summary .separator {
        width: 1px;
        height: 20px;
        margin: 0 0.5rem;
        background-color: #eee;
        flex-shrink: 0; }
      .content .details .user-summary .user-reactions {
        display: flex;
        gap: 0.625rem; }
        .content .details .user-summary .user-reactions .users {
          display: flex;
          flex-direction: column; }

@media (min-width: 768px) {
  .content {
    padding: 1.688rem 0;
    width: calc(100% - 350px); }
    .content .section-title {
      padding: 0 2.25rem; }
    .content #featured .section-title {
      display: block;
      margin: 0.5rem 0 1.438rem; }
    .content #featured .separator {
      display: block;
      margin-bottom: 1.438rem; }
    .content .featured-item {
      margin: 0 1.25rem; }
      .content .featured-item .dots {
        display: none; }
      .content .featured-item:hover .overlay {
        display: flex; }
    .content .books {
      padding: 0 0 2.5rem 2.25rem; }
      .content .books .book-card {
        width: 30%; }
        .content .books .book-card:hover .overlay {
          display: flex;
          flex-direction: column;
          justify-content: flex-end; }
          .content .books .book-card:hover .overlay .details {
            z-index: 100;
            margin-bottom: 1rem; }
            .content .books .book-card:hover .overlay .details img {
              filter: grayscale(160%);
              -webkit-filter: opacity(0.9) drop-shadow(0 0 0 #dddddd);
              z-index: 100; } }

@media (min-width: 600px) and (max-width: 768px) {
  .books .book-card {
    width: 45% !important; } }

body {
  background-color: #fefefe;
  padding: 0;
  font-size: 16px;
  width: 100%;
  margin: 0; }

.separator {
  height: 1px;
  background-color: #eee;
  flex-shrink: 0; }

.container {
  display: flex;
  background-color: #fff; }

@media (max-width) {
  .container {
    display: grid;
    flex-direction: column; } }
