@import '_colors';

aside {
  background-color: #fff;
  z-index: 0;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 1px 50px 40px);
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.1) 1px 50px 40px);
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;

  .sidebar-section {
    padding: 0.52rem 1.875rem;
  }

  .siderbar-header {
    display: flex;
    flex-direction: column;

    padding: 2rem 1.875rem 1rem;
    top: 0;
    .back {
      // margin-bottom: 2rem;
      width: 0;
      background-color: transparent;
      border: transparent;
    }
    .product-detail {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 2rem;
      .logo {
        max-width: 40px;
        width: 100%;
        height: auto;
      }
      .product-name {
        display: flex;
        flex-direction: column;
        .role {
          color: $role;
          margin-top: 0.188rem;
        }
      }
    }
  }
  .sidebar-main {
    overflow-y: auto;
  }
  &[data-show='true'] {
    width: 300px;
    // display: block;
    z-index: 70;
    opacity: 1;
  }
  .sidebar-menu-item {
    display: flex;
    margin: 0.813rem 0;
    justify-content: space-between;
    align-items: center;

    .menu-name[data-active='true'] {
      color: $green-color;
    }
    .menu-count {
      color: $role;
      &[data-active='true'] {
        color: #fff;
        background-color: $green-color;
        border-radius: 50%;
        padding: 0 5px;
        text-align: center;
        margin-top: 3px;
      }
    }
  }
}

@media (min-width: 768px) {
  aside {
    overflow-y: auto;
    width: 350px;
    position: relative;
    height: auto;
    opacity: 1;
    .sidebar-section {
      padding: 0.52rem 2.25rem;
    }
    .siderbar-header {
      display: none;
    }
  }
}
